/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./fonts/Nunito-Bold.ttf') format('opentype');
}

:root {
	--theme-color-1: rgb(60, 60, 160);
	--theme-color-2: rgb(100, 100, 200);
	--theme-color-3: rgb(40, 40, 140);
}

:focus {
	outline: 2px solid #fff;
	outline-offset: 1px;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		background-color: var(--theme-color-1);
		border-radius: 4px;
	}
}

body {
	background-color: var(--theme-color-2);
	color: #fff;
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

button {
	background-color: var(--theme-color-1);
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	padding: 8px;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: var(--theme-color-3);
	}
}

h1 {
	font-size: 1.4em;
}

.zeb-no-display {
	display: none;
}

#zspafsw-header {
	background-color: var(--theme-color-1);
	color: #fff;
	margin-bottom: 10px;
	padding: 6px;
	text-align: center;

	h1 {
		font-weight: 500;
		margin: 0;
	}
}

#zspafsw-search-form {
	align-items: center;
	display: grid;
	gap: 8px;
	grid-template-areas:
		'search-input'
		'search-button'
		'random-button';
	margin: 0 auto 10px;
	max-width: 600px;
	padding: 8px;
}

@media (min-width: 300px) {
	#zspafsw-search-form {
		grid-template-areas:
			'search-input search-input'
			'search-button random-button';
	}
}

@media (min-width: 500px) {
	#zspafsw-search-form {
		grid-template-areas: 'search-input search-button random-button';
		grid-template-columns: 1fr auto auto;
	}
}

#zspafsw-search-input {
	grid-area: search-input;
	min-width: 100px;
	border: 2px solid var(--theme-color-1);
	border-radius: 4px;
	padding: 8px;
}

#zspafsw-search-button {
	grid-area: search-button;
}

#zspafsw-random-button {
	grid-area: random-button;
}

#zspafsw-search-results > h1 {
	text-align: center;
}

#zspafsw-search-results-list {
	padding-left: 0;

	li {
		list-style-type: none;
	}
}

#zspafsw-search-results-list {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#zspafsw-search-results-list a {
	text-decoration: none;
}

.zspafsw-search-result {
	background-color: #fff;
	border-radius: 4px;
	color: var(--theme-color-1);
	margin: 10px;
	max-width: 600px;
	padding: 10px;
	text-align: center;
	text-decoration: none;

	&:hover h1 {
		text-decoration: underline;
	}
}

#zeb-footer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: space-evenly;
	padding: 0 10px;

	p {
		margin: 4px 0;
	}
}